.shelf {
    max-height: 100px;
    width: 300px;
    position: absolute;
}

.niki {
    max-height: 250px;
    position: absolute;
}

.paper {
    max-height: 250px;
    position: absolute;
}

.item {
    max-height: 100px;
    position: absolute;
}

.ingredient {
    max-height: 65px;
    position: absolute;
}

.found {
    opacity: 0.5;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header-text {
    color:var(--text-color-green);
}

.button {
    background-color: var(--text-color-green);
    color: var(--color-light);
    padding: 5px 50px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}

.selected {
    border: 2px solid green;
}

.start {
    font-size: 25px;
}