.animation-game-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    padding-bottom: 30px;
}

.chapterPage__button {
    display: flex;
    flex-direction: column;
    margin: 15px;
    background: none;
    border: none;
    text-decoration: none;
    align-items: center;

    &:hover {
        cursor: pointer;
        color: var(--text-color-green-hover);
    }
}

.chapterPage__buttonImg {
    object-fit: cover;
    height: 300px;
    width: 400px;

    &:hover {
        opacity: 0.8;
    }
}