.card {
    max-height: 150px;
    max-width: 100px;
    margin: 5px;
}

.ingredient {
    max-height: 65px;
    position: absolute;
}

.found {
    opacity: 0.5;
}

.memory-subtitle-text {
    color: var(--text-color-default);
}

.memory-header-text {
    color:var(--text-color-green);
}