.memory-game-container {
   position: absolute;
   background-color: var(--pastel-yellow);
   width: 100vw;
   margin-top: 30px;
   margin-left: 10px;
}

.memory-card {
    height: 19%;
    position: absolute;
    border-radius: 16px;
}

.ingredient {
    max-height: 65px;
    position: absolute;
}

.found {
    opacity: 0;
}

.memory-subtitle-text {
    color: var(--text-color-default);
    font-family: 'Poppins';
    font-size: 23px;
}

.cards-container {
    height: 100vh;
    width: 100vw;
}

.memory__newGame-button {
    top: 12%;
    left: 79%;
    right: 10px;
    position: fixed;
    background-color: var(--text-color-green);
    color: white;
    font-family: 'Poppins';
    border: none;
    height: 40px;
    width: 200px;
}

.start {
    height: 200px;
    left: 25%;
    position: relative;
}

.highlighted {
    border: 2px solid green;
} 