.paint-game {
    background-color: var(--pastel-yellow);
    height: 100vh;
}

.paintgame-container {
    position: relative;
    height: 100vh;
}

.content {
    overflow-y: hidden;
}

.menu-area {
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
}

.painting-area {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.paint-select-button {
    height: 100%;
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    max-height: 50%;
    background-color: var(--paint-select-background);
    border: 5px solid var(--text-color-green);
}

.paint-menu-img {
    height: 100%;
}

.canvas-container {
    position: relative;
    height: 50%;
    width: 60%;
}

.canvas {
    border: 2px solid black;
}

.image-overlay {
    position: relative;
    pointer-events: none;
    bottom: -6em;
    top: 102px;
    left: 25%;
    max-width: 25em;
    max-height: 36em;
}

.ingame-menu-area {
    background-color: rgb(255, 191, 212);
    width: 40%;
}