.paint-game {
    background-color: var(--pastel-yellow);
    height: 100vh;
}

.paintgame-container {
    position: relative;
    height: 100vh;
}

.content {
    overflow-y: hidden;
}

.menu-area {
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
}

.painting-area {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.paint-select-button {
    height: 100%;
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    max-height: 50%;
    background-color: var(--paint-select-background);
    border: 5px solid var(--text-color-green);
}

.paint-menu-img {
    height: 100%;
}

.canvas-container {
    position: relative;
    height: 50%;
    width: 60%;
}

.canvas {
    border: 2px solid black;
}

.image-overlay {
    position: absolute;
    pointer-events: none;
    bottom: -6em;
    top: 0;
    left: 0;
}

.ingame-menu-area {
    width: 40%;
}

.color-select-title {
    font-family: 'Schoolbell';
    color: var(--text-color-green);
}

.ingame-menu-area__background-pick__color-select {
    background-color: var(--pastel-yellow);
}

.ingame-menu-area__background-pick__color-button {
    position: relative;
    height: 25px;
    width: 25px;
    border: 1px solid gray;
    margin: 4px;
}